.products-list {
    margin-top: 12.5rem;
}

.products-items {
    margin: auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    white-space: nowrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}
/* media query */
@media (min-width: 1024px) {
    .products-items {
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-content: space-around;
        padding: 2rem;
    }
}