.main-footer {
    background-color: var(--secondaryColor);
    color: #fff;
    padding: 15px;
    text-align: center;
}

.main-footer-redes {
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.main-footer-redes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.main-footer-redes ul li {
    margin: 0 10px;
    list-style: none;
}
.main-footer-redes ul li a {
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 3rem;
}

.main-footer-redes ul li a:hover {
    color: var(--colorgray);
}

.main-footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.main-footer-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.main-footer-links ul li {
    margin: 0 10px;
    list-style: none;
    margin-bottom: 1rem;
}
.main-footer-links ul li a {
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 1.5rem;
}

/* media query */

@media (min-width: 1024px) {
    .main-footer {
        /* position: absolute; */
        bottom: 0;
        width: 100%;
    }
    .main-footer-links ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main-footer-links ul li {
        margin: 1rem 1rem;
    }
}