main {
    margin: auto;
    max-width: 1024px;
    margin-top: 12.5rem;
}
.container-carrousel {
    /* acomodar los articles de manera horizontal con scroll */
    position: relative;
    z-index: -1;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow: hidden;
   
}

.container-carrousel .card-carrousel {
    width: 100%;
    /* para que se deslicen automaticamente  */
    scroll-snap-align: start;
    /* para que se acomoden de manera horizontal */
    flex-shrink: 0;
    /* para que se acomoden de manera vertical */
    flex-direction: column; 
    /* para que se acomoden de manera horizontal */
    flex-basis: 100%;
     /* para que se deslicen automaticamente  */
     animation: scroll 10s steps(1) infinite;
     animation-delay: 1s;
}
.container-carrousel article img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* seccion de productos destacados */
.container-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.container-destacados h2 {
    font-family: Interstate,sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 4.2rem;
    width: 100%;
    text-align: center;
    /* margin-bottom: 2rem; */
}
.container-productCard {
    display: flex;
    /* flex-wrap: wrap; */
    /* height: 40rem; */
    overflow-x: auto;
    scroll-snap-type: x proximity;
    white-space: nowrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

/* para que se deslicen automaticamente  */
@keyframes scroll {
    0%, 25% {
        transform: translateX(0);
    }
    25.01%, 50% {
        transform: translateX(-100%);
    }
    50.01%, 75% {
        transform: translateX(-200%);
    }
    75.01%, 100% {
        transform: translateX(0%);
    }
}

/* media query */
@media (min-width: 1024px) {
    main {
        margin-top: 8.4rem;
    }
    .container-productCard {
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-content: space-around;
        padding: 2rem;
    }
}