.container-cardProduct {
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin: 1rem auto;
}
.card-product {
  position: relative;
  scroll-snap-align: center;
  width: 100%;
  min-width: 23rem;
  max-width: 30rem;
  border: 0.1rem solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 0.5rem #eee;
  margin: 1.5rem auto;
}
.card-product img {
  width: 100%;
  object-fit: contain;
}
.card-product .card-body {
  padding: 1rem;
}
.card-body .card-title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.card-body .card-precio {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card-product .icon-fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--secondaryColor);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
}
.fa-heart {
  color: var(--secondaryColor);
}

/* media query */
@media (min-width: 1024px) {
  .container-cardProduct {
    transition: all 0.3s ease-in-out;
  }
  .container-cardProduct:hover {
    box-shadow: 0 0 10px rgb(100, 100, 100);
    transform: scale(1.05);
  }
}
