:root {
    --fontFamily: 'Roboto', sans-serif;
    --primaryColor: #fff;
    --secondaryColor: #000;
    --colorgray: #727273;
}

/* selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fontFamily);
    background-color: var(--primaryColor);
}
main {
    margin-top: 12.5rem;
}

@media (min-width: 1024px) {
    main {
        margin-top: 8.4rem;
    }
}