.title-form {
  margin-top: 10rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.form-login {
  width: 100%;
  max-width: 50rem;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}

.form-login button {
  background-color: black;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-login button:hover {
  background-color: crimson;
}

.input-container {
  display: flex;
  flex-wrap: nowrap;
  border: none;
  border-bottom: 1px solid #ccc;
}
.input-container .input-group {
  margin: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}
/* .input-container .input-group:nth-child(2) {
  margin-left: 5rem;
  margin-right: 2rem;
}

.input-container .input-group:nth-child(2) div {
  text-align: center;
}

.input-container .input-group:nth-child(2) div label {
  margin-right: 0.25rem;
} */

.input-container button {
  background-color: black;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: auto;
  margin-top: 2.4rem;
  
}

#category{
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  padding: 0.75rem;
}

.input-container .input-group select {
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  padding: 0.75rem;
}

textarea {
  resize: none;
  width: 100%;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  padding: 0.75rem;
  margin-top: 1rem;
}

.input-group label {
  font-size: 1.25rem;
  display: block;
}

/* #cantidad,
#nombre,
#color,
#categoria,
#precio,
#size, */

#amount,
#name,
#color,
#category,
#price,
#size,
#brand {
  margin-top: 1rem;
}

.add {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.cargar {
  width: 100%;
}

.is-invalid {
  border-color: crimson !important;
}
.text-danger {
  margin-top: .5rem;
  text-align: left;
  color: crimson;
  font-size: 1.2rem;
}

.image-product {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  margin-bottom: 1rem;
}
.parrafo-img {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}