
.title-edition {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 14rem;
}
.form-edition {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.personal-info {
    border: none;
}
.container-input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    text-align: left;
}
.container-input label {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 600;
}
.container-input input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}
.is-invalid {
    border:0.1rem solid rgb(192, 18, 53) !important; 
}
.text-danger {
    color: rgb(192, 18, 53);
    font-size: 1.2rem;
}
.container-input input:focus {
    outline: none;
    border-color: #000;
}
.form-register button {
    background-color: #000;
    color: #fff;
    margin: 1rem;
    padding: 1rem 6.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.form-register button:hover {
    background-color: crimson;
}

.color-information-user {
    color: #979899;
    font-size: 1.5rem;
}

.form-edit {
    width: 40%;
}

.form-edition button {
    background-color: #000;
    color: #fff;
    margin: 1rem;
    padding: 1rem 6.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.form-edition-a {
    background-color: #000;
    color: #fff;
    margin: 1rem;
    padding: 1rem 6.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.text-admin {
    text-align: center;
    padding-top: 20px;
}



