<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {productCardCss: 'productCard', allProducts: 'allProducts'}) %>
    <body class="container-all-products">
        <%- include('./partials/header.ejs') %>
        <main class="products-list">
            <section class="products-items">
                <%- include('./partials/productCard.ejs') %> 
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>