<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <form class="form-login" action="/login" method="POST">
                <label for="usuario">Nombre de usuario</label>
                <input type="text" id="usuario" name="usuario" required placeholder="Ingrese su Nombre de usuario">

                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" required placeholder="Ingrese su contraseña">

                <button type="submit">Iniciar Sesion</button>
            </form>
        </main>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>
</html>