<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form class="form-login" action="/login" method="POST">
        <div class="input-group">
          <input
          type="text"
          id="usuario"
          name="usuario"
          required
          placeholder="Usuario"
          />
          
        </div>

        <div class="input-group">
          <input
          type="password"
          id="contrasena"
          name="contrasena"
          required
          placeholder="Contraseña"
          />
        
        </div>

        <button type="submit">Iniciar Sesión</button>
      </form>
    </main>
  </body>
</html>
