<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <form action="/login" method="POST">
                <label for="usuario">Nombre de usuario</label>
                <input type="text" id="usuario" name="usuario" required>

                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" required>

                <button type="submit">Iniciar Sesion</button>
            </form>
        </main>
    </body>
</html>