<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homies</title>
    </head>
    <body>
        <div class="container-register">
            <h3 class="title-register">Escoja una opcion para entrar</h3>
            <ul class="options-container">
                <li class="option-1">
                    <div>
                        <button class="button-options" type="button">
                            <div class="text-option-1">
                                <span>Recibir codigo de acceso por e-mail</span>
                            </div>
                        </button>
                    </div>
                </li>
                <li class="option-2">
                    <div>
                        <button class="button-options" type="button">
                            <div class="text-option-2">
                                <span>Entrar con e-mail y contraseña</span>
                            </div>
                        </button>
                    </div>
                </li>
                <li>
                    <div>
                        <button class="button-options" type="button">
                            <div class="text-option-3">
                                <span>Entrar con GOOGLE</span>
                            </div>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="data-account-register">
            <h3 class="title-register">Recibir codigo de acceso por e-mail</h3>
            <form>
                <div class="input-container-register">
                    <label class="email-register">
                        <div class="input-email-register">
                            <input class="button-register" name="email" placeholder="Ej: ejemplo@mail.com" type="email" value>
                        </div>
                    </label>
                </div>
                <div class="send-button-register">
                    <button class="button-register-ingressed" type="text">
                        <span>Enviar</span>
                    </button>
                </div>
            </form>
        </div>
    </body>