<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <form class="form-register" action="/register" method="POST">
                <div>
                    <label for="name">Nombre y Apellido</label>
                    <input type="text" name="name" id="name" placeholder="Ingrese su Nombre y Apellido">
                </div>
                <div>
                    <label for="nickname">Nombre de usuario</label>
                    <input type="text" name="nickname" id="nickname" placeholder="Ingrese un Nombre de usuario">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingrese su e-mail">
                </div>
                <div>
                    <label for="birthdate">Fecha de nacimiento</label>
                    <input type="date" min="2000-01-01" max="2022-04-06" name="birthdate" id="birthdate">
                </div>
                <div>
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" placeholder="Ingrese su domicilio">
                </div>
                <div>
                    <label for="contraseña">Contraseña</label>
                    <input text="password" name="password" id="password" placeholder="Ingrese su contraseña">
                </div>
                <div>
                    <label for="confirmar">Confirmar contraseña</label>
                    <input text="password" name="password" id="password" placeholder="Confirme su contraseña">
                </div>
                <button type="submit" value="enviar">Enviar</button>
                <button type="reset" value="borrar">Borrar</button>
            </form>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>