<header class="main-header">
  <section class="main-header-top-bars">
    <section class="top-bars-left">
      <button class="menu-bars">
        <i class="fas fa-bars"></i>
      </button>
      <div class="container-logo">
        <img src="/assets/images/logo.jpeg" alt="" />
      </div>
    </section>
    <ul class="top-bars-right">
      <li>
        <button class="btn-bars">
          <i class="fas fa-user"></i>
        </button>
      </li>
      <li>
        <span class="btn-bars">
          <i class="fas fa-heart"></i>
        </span>
      </li>
      <li>
        <button class="btn-bars">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </li>
    </ul>
  </section>
  <section class="main-header-bottom-bars">
    <form class="form-search" action="/" method="get">
        <input type="text" name="search" id="search" placeholder="Buscar" />
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
  </section>
</header>
