<header class="main-header">
  <div class="container-header">
    <section class="main-header-top-bars">
      <section class="top-bars-left">
        <div class="top-container-categories">
          <button class="icon-close" onclick="toggleMenu()">
            <i class="fa-solid fa-xmark"></i>
          </button>

          <ul class="bars-categories">
            <li>
              <a href="/products/hombre">HOMBRE</a>
            </li>
            <li>
              <a href="/products/mujer">MUJER</a>
            </li>
            <li>
              <a href="/products/ni침a">KIDS</a>
            </li>
            <li>
              <a href="/products">SALE</a>
            </li>
            <li>
              <a href="/products">ALL</a>
            </li>
          </ul>
        </div>
        <button class="menu-bars" onclick="toggleMenu()">
          <i class="fas fa-bars"></i>
        </button>
        <a href="/">
          <div class="container-logo">
            <img src="/assets/images/rsz_logo.jpg" alt="" />
          </div>
        </a>
      </section>
      <ul class="top-bars-right">
        <li class="container-btn-user">
          <button class="btn-bars">
            <% if (locals.isLogged) { %>
              <p class="user-name">
                <%= locals.userLogged.email %> 
              </p>
            <% } %>
            <% if (locals.isAdmin) { %>
              <p class="user-name">
                <%= locals.userAdmin.email %> 
              </p>
            <% } %>
            <% if (!locals.isLogged && !locals.isAdmin) { %>
              <i class="fas fa-user"></i>
            <% } %>
          </button>
          <div class="dropdown-user">
            <% if (locals.isLogged) { %>
            <a href="/">Inicio</a>
            <a href="/user/profile/<%= locals.userLogged.id %>">Mi perfil</a>
            <a href="/user/logout">Cerrar Sesi칩n</a>
            <% } %>
            <% if (!locals.isLogged && !locals.isAdmin) { %>
            <a href="/user/login">Iniciar Sesi칩n</a>
            <a href="/user/register">Registrarse</a>
            <% } %>
            <% if (locals.isAdmin) { %>
              <a href="/">Inicio</a>
              <a href="/user/profile/<%= locals.userAdmin.id %>">Mi perfil</a>
              <a href="/products/create">Crear Producto</a>
              <a href="/admin/products">Lista de productos</a>
              <a href="/admin/users">Lista de Usuarios</a>
              <a href="/user/logout">Cerrar Sesi칩n</a>
            <% } %>
            
          </div>
        </li>
        <li>
          <span class="btn-bars">
            <i class="fas fa-heart"></i>
          </span>
        </li>
        <li>
          <a href="/carrito" class="btn-bars">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </section>
    <section class="main-header-bottom-bars">
      <form class="form-search" action="/" method="get">
        <input type="text" name="search" id="search" placeholder="Buscar" />
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </section>
  </div>
</header>
<script>
  function toggleMenu() {
    const menu = document.querySelector(".top-container-categories");
    const closeMenu = document.querySelector(".icon-close");
    const mediaQuery = window.matchMedia("(min-width: 539px)");
    if (mediaQuery.matches) {
      // si la media query esta aplicada no se ejecuta el toggle
      return;
    }
    if (menu.style.left === "-100%" || menu.style.left === "") {
      menu.style.left = "0";
    } else {
      menu.style.left = "-100%";
    }
  }
</script>
