<footer class="main-footer">
    <section class="main-footer-redes">
        <ul class="redes">
            <li>
                <a href="/">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>
    </section>
    <section class="main-footer-links">
        <ul class="links">
            <li>
                <a href="/">Contacto</a>
            </li>
            <li>
                <a href="/">Preguntas Frecuentes</a>
            </li>
            <li>
                <a href="/">Cambios y Devoluciones</a>
            </li>
            <li>
                <a href="/">Terminos y Condiciones</a>
            </li>
            <li>
                <a href="/">Politica de Privacidad</a>
            </li>
        </ul>
</footer>